<% layout('layout/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Mappe</h1>
        <div class="col-6 offset-3">
        
    <form action="/cg/<%=a._id%>?_method=PUT" method="POST" novalidate class="new-edit-validation">
        
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label" >Title</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" value="<%=a.title %>" required>
                </div>
        
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Location</label>
                    <input type="text" name="location" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" value="<%=a.location%>" required>
                </div>
        
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Discription</label>
                    <textarea class="form-control" name="discription" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required><%=a.discription%></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Image</label>
                    <input type="text" name="image" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" value="<%=a.image%>" required>
                </div>
        
                <div class="mb-3">
                    <div class="input-group">
                      <div class="input-group-text">$</div>
                      <input type="number" name="price" class="form-control" id="autoSizingInputGroup" placeholder="0.0" value="<%=a.price%>" required>
                    </div>
                </div>
        
                <div class="mb-3">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            <div class="mb-3">
                <a href="/cg" class="btn btn-primary" >back</a>
            </div>
        </div>
        </div>

        
    <a href="/cg/<%=a._id %>">back</a>