<% layout('layout/boilerplate') %> 
    <h1>DETAILS</h1>
    <ul>
        <li>title : <%= a.title %> </li>
        <li>location : <%= a.location %> </li>
        <img src="<%= a.image %> ">
        <p><%= a.discription %> </p>
    </ul>
    <a href="/cg/<%= a._id %>/edit">edit</a>
    <a href="/cg">back</a>
    <form action="/cg/<%= a._id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>